#header {
	height: 60px;

}
#header div{
	height: 100%;
	float: left;
	border: 2px solid black;
	display: flex;
	align-content: space-around;
}
.module {
	width: 250px;
	height: 250px;
	border: 1px solid gray;
}


